## Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading CSV file

In [3]:
df=pd.read_csv("C:/Users/kalai/Downloads/kalai'sRcodeDataset/API_SP.POP.TOTL_DS2_en_csv_v2_9949/Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_9949.csv")

## Checking top 5 rows data

In [4]:
df.head(5)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN

## Checking data from bottom

In [5]:
df.tail(5)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

## Checking the columns of the dataset

In [6]:
df.columns

Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName',
       'Unnamed: 5'],
      dtype='object')

## Some information about the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   216 non-null    object
 3   SpecialNotes  127 non-null    object
 4   TableName     265 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.6+ KB

In [8]:
df.describe()

       Unnamed: 5
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

## Checking for duplicates values

In [9]:
df.duplicated().sum()

np.int64(0)

## Checking for missing values

In [10]:
df.isna().sum()

Country Code      0
Region           48
IncomeGroup      49
SpecialNotes    138
TableName         0
Unnamed: 5      265
dtype: int64

## Checking unique values for columns

In [ ]:
print(df['Country Code'].unique())
print("\n Total no of unique country code:",df['Country Code'].nunique())

## Dropping unnecessary columns

In [ ]:
df.drop(['Series Name','Country Name'],axis=1,inplace=True)

## Extarction of top 10 countries with respect to total population

In [ ]:
# Filter data for total population
total_population_data = df[df['Series Code'] == 'SP.POP.TOTL']

# Sort data based on the total population for 2022
total_population_sorted = total_population_data.sort_values(by="2022", ascending=False)

# Get the top ten countries with the highest total population for 2022
total_top_ten_countries = total_population_sorted.head(10)
print("Top ten countries of total population\n")
print(total_top_ten_countries[['Country Code']])

# Bar Plot

## Top ten countries of total population in year 2022 and 2016

In [ ]:
# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,1)
sns.barplot(x="2022", y="Country Code", data=total_top_ten_countries, palette="coolwarm")
plt.title("Top Ten Countries of Total Population (2022)",fontsize=10)
plt.xlabel("Total Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,2)
sns.barplot(x="2016", y="Country Code", data=total_top_ten_countries, palette="coolwarm")
plt.title("Top Ten Countries of Total Population (2016)",fontsize=10)
plt.xlabel("Total Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

## Extraction of bottom 10 countries with respect to total popultaion

In [ ]:
# Sort data based on the total population for 2022
total_population_sorted1 = total_population_data.sort_values(by="2022", ascending=True)

# Get the top ten countries with the highest total population for 2022
total_bottom_ten_countries = total_population_sorted1.head(10)
print("Bottom ten countries of total population\n")
print(total_bottom_ten_countries[['Country Code']])

## Bottom ten countries of total population in year 2022 and 2016

In [ ]:
# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,1)
sns.barplot(x="2022", y="Country Code", data=total_bottom_ten_countries, palette="coolwarm")
plt.title("Bottom Ten Countries of Total Population (2022)",fontsize=10)
plt.xlabel("Total Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,2)
sns.barplot(x="2016", y="Country Code", data=total_bottom_ten_countries, palette="coolwarm")
plt.title("Bottom Ten Countries of Total Population (2016)",fontsize=10)
plt.xlabel("Total Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

## Extarction of top 10 countries with highest male population

In [ ]:
#filter data for male population
male_population_data = df[df['Series Code']=='SP.POP.TOTL.MA.IN']

#sort data based on the male population for 2022
male_population_sorted =male_population_data.sort_values(by="2022",ascending=False)

#Get the top 10 countries with the highest male population for 2022
male_top_ten_countries = male_population_sorted .head(10)
print("Top ten countries of male population")
print(male_top_ten_countries[['Country Code']])

In [ ]:
#filter data for male population
female_population_data = df[df['Series Code']=='SP.POP.TOTL.FE.IN']

#sort data based on the male population for 2022
female_population_sorted =female_population_data.sort_values(by="2022",ascending=False)

#Get the top 10 countries with the highest male population for 2022
female_top_ten_countries = female_population_sorted .head(10)
print("Top ten countries of female population")
print(female_top_ten_countries[['Country Code']])

## Top ten countries with highest male and female population in 2022

In [ ]:
# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,1)
sns.barplot(x="2022", y="Country Code", data=male_top_ten_countries, palette="viridis")
plt.title("Top ten conuntries of male population(2022)",fontsize=10)
plt.xlabel("Male Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

# Create the bar plot
plt.figure(figsize=(15, 6))
plt.subplot(2,2,2)
sns.barplot(x="2016", y="Country Code", data=female_top_ten_countries, palette="viridis")
plt.title("Top ten conuntries of female population(2022)",fontsize=10)
plt.xlabel("Female Population",fontsize=10)
plt.ylabel("Country",fontsize=10)
plt.show()

# Stacked Bar Plot

## Top 10 countries with male and female population

In [ ]:
#merge male and female population data on 'Country Code'
merge_data=pd.merge(male_population_data,female_population_data,on="Country Code",suffixes=("_male","_female"))

In [ ]:
#merged data
#calculate the total population for each country (male + female)
merge_data["Total population"] = merge_data["2022_male"] + merge_data ["2022_female"]

In [ ]:
merge_data.head()

In [ ]:
#sort data based on total population in descending order
sorted_data = merge_data.sort_values(by="Total population", ascending=False)

## Select the top 10 countries with the highest total population

In [ ]:
top_10_countries = sorted_data.head(10)

In [ ]:
#create the staked bar plot
plt.figure(figsize=(12,6))
sns.barplot(x="Country Code",y="2022_female",data=top_10_countries,color="red",label="female Population")
sns.barplot(x="Country Code",y="2022_male",data=top_10_countries,bottom=top_10_countries["2022_female"],color="green",label="Male Population")
plt.xlabel("Country")
plt.ylabel("Population")
plt.legend()
plt.xticks(rotation=45,ha="right")
plt.show()

## Bottom 10 countries with male and female population(2022)

In [ ]:
#select the top 10 countries with the highest total population
bottom_10_countries = sorted_data.tail(10)

In [ ]:
# Create the stacked bar plot
plt.figure(figsize=(12, 6))
sns.barplot(x="Country Code", y="2022_female", data=bottom_10_countries, color="red", label="Female Population")
sns.barplot(x="Country Code", y="2022_male", data=bottom_10_countries, bottom=bottom_10_countries["2022_female"], color="green", label="Male Population")
plt.xlabel("Country")
plt.ylabel("Population")
plt.legend()
plt.xticks(rotation=45, ha="right")
plt.show()